force-app/main/default/flows/Notification_for_Service_Appointment_Forms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>malek.brachemi@levio.ca</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply-service@trevi.ca</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Form_found</name>
        <label>Form found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>QC_MTL</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4) OR ((5 OR 6 ) AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_WOLI.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WOLI.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Québec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WOLI.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ruleConditionsQc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WOLI.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montréal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_WOLI.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ruleConditionMtl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>QC/MTL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ruleConditionMtl</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() &lt; (DATEVALUE({!$Record.SchedStartTime}) - {!Get_Form_Rule.Montreal_Expiration_Days__c})</expression>
    </formulas>
    <formulas>
        <name>ruleConditionsQc</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() &lt; (DATEVALUE({!$Record.SchedStartTime}) - {!Get_Form_Rule.Quebec_Expiration_Days__c})</expression>
    </formulas>
    <formulas>
        <name>templateName</name>
        <dataType>String</dataType>
        <expression>IF(
OR(LOWER({!Get_WOLI.Region__c}) = &apos;Montreal&apos;,LOWER({!Get_WOLI.Region__c}) = &apos;Montréal&apos;),
{!Get_Form_Rule.Email_Template_Name_Mtl__c},
{!Get_Form_Rule.Email_Template_Name_Qc__c}
)</expression>
    </formulas>
    <interviewLabel>Notification for Service Appointment Forms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification for Service Appointment Forms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>templateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_Rule</name>
        <label>Get Form Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Form_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Type_Group_Member__r.Form_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointmentFormRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get WOLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Form_Rule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for customer confirmation</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
