force-app/main/default/flows/Ouverture_Fermeture_New_User_Portail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_Owner_Id</name>
        <label>Get Owner Id</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <actionName>OuvertureFermetureUserLookupHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userNames</name>
            <value>
                <elementReference>Get_Settings.null__NotFound</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OuvertureFermetureUserLookupHelper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>owner</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Account_values</name>
        <label>Assign Account values</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>newAccount.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>billingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.provinceCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.countryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Cellphone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Home_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Mobile_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.AccountSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Communication_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>communicationPreference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Address_values</name>
        <label>Assign Address values</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>newAddress.Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAddress.Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.countryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAddress.Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAddress.Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.provinceCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAddress.Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAddress.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAddress.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_values</name>
        <label>Assign Contact values</label>
        <locationX>578</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>newContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Mobile_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Home_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>birthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.DoNotCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailPrefered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.HasOptedOutOfEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phonePrefered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <constants>
        <name>defaultAccountRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </constants>
    <constants>
        <name>phoneFormatPattern</name>
        <dataType>String</dataType>
        <value>
            <stringValue>^[0-9]{10}$</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Account_Exist</name>
        <label>Account Exists ?</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Get_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_With_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Exists_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_exception_exists</name>
        <label>check if exception exists</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>exception_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Postal_code_exceptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Information</targetReference>
            </connector>
            <label>exception exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_match_exists</name>
        <label>check if match exists</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>With_exeception_flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Postal_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Postal_Code.Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Postal_code_exceptions</targetReference>
            </connector>
            <label>With exeception flag</label>
        </rules>
        <rules>
            <name>Without_exception_flag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Postal_Code</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Postal_Code.Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Basic_Information</targetReference>
            </connector>
            <label>Without exception flag</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>accountLanguageList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>accountPickUpZoneList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivery_pick_up_zone__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>accountSourceList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountSource</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>accountTypeList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Account_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contactSalutationsList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contactTypeList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_contact__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AccountName</name>
        <dataType>String</dataType>
        <expression> {!contactLastName} &amp; &apos; &apos; &amp; {!contactFirstName}</expression>
    </formulas>
    <formulas>
        <name>billingCity</name>
        <dataType>String</dataType>
        <expression>IF(
{!Use_Billing_Address_as_Shipping_Address},
{!add.city},
{!Account_Billing_Address.city}
)</expression>
    </formulas>
    <formulas>
        <name>billingCountry</name>
        <dataType>String</dataType>
        <expression>IF(
{!Use_Billing_Address_as_Shipping_Address},
{!add.countryCode},
{!Account_Billing_Address.countryCode}
)</expression>
    </formulas>
    <formulas>
        <name>billingPostalCode</name>
        <dataType>String</dataType>
        <expression>IF(
{!Use_Billing_Address_as_Shipping_Address},
{!add.postalCode},
{!Account_Billing_Address.postalCode}
)</expression>
    </formulas>
    <formulas>
        <name>billingState</name>
        <dataType>String</dataType>
        <expression>IF(
{!Use_Billing_Address_as_Shipping_Address},
{!add.provinceCode},
{!Account_Billing_Address.provinceCode}
)</expression>
    </formulas>
    <formulas>
        <name>billingStreet</name>
        <dataType>String</dataType>
        <expression>IF(
{!Use_Billing_Address_as_Shipping_Address},
{!add.street},
{!Account_Billing_Address.street}
)</expression>
    </formulas>
    <formulas>
        <name>communicationPreference</name>
        <dataType>String</dataType>
        <expression>IF({!Communication_preference} = {!Phone} , &apos;Phone&apos; ,
IF({!Communication_preference} = {!Email} , &apos;Email&apos; ,&apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>emailPrefered</name>
        <dataType>Boolean</dataType>
        <expression>{!Communication_preference} = {!Email}</expression>
    </formulas>
    <formulas>
        <name>isAccountEligibleForAddressCreation</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!newAccount.ShippingStreet})), 
NOT(ISBLANK({!newAccount.ShippingState})),
NOT(ISBLANK({!newAccount.ShippingCity})),
NOT(ISBLANK({!newAccount.ShippingPostalCode})),
NOT(ISBLANK({!newAccount.ShippingCountry}))
)</expression>
    </formulas>
    <formulas>
        <name>phonePrefered</name>
        <dataType>Boolean</dataType>
        <expression>{!Communication_preference} = {!Phone}</expression>
    </formulas>
    <formulas>
        <name>shouldRequireContactHomePhone</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Contact_Mobile_Phone.value})</expression>
    </formulas>
    <formulas>
        <name>shouldRequireContactMobilePhone</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Contact_Home_Phone.value})</expression>
    </formulas>
    <interviewLabel>Ouverture - Fermeture New User Portail {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Ouverture - Fermeture New User Portail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Assign_Address_values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <inputReference>newAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Assign_Contact_values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <inputReference>newAddress</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <inputReference>newContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_With_Email</name>
        <label>Get Account With Email</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Postal_Code</name>
        <label>GET Postal Code</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_match_exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>add.postalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Zone_Color__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verte</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postal_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Postal_code_exceptions</name>
        <label>Get Postal code exceptions</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_exception_exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Postal_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>add.postalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>add.city</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Postal_Code_Exceptions__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>578</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Settings.null__NotFound</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Settings</name>
        <label>Get Settings</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Registration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Account_Exists_Screen</name>
        <label>Account Exists Screen</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountExistsMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.Opening_Closing_Account_Exists}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Address</name>
        <label>Address_Info</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Postal_Code</targetReference>
        </connector>
        <fields>
            <name>AddressTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.Address_Title}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>add</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <elementReference>$Label.Address</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Search for an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>add.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>add.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>add.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>add.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>add.street</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!$Label.Ouverture_Fermeture_Postal_Code_error}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!add.postalCode}, &quot;^[A-Za-z]\\d[A-Za-z] \\d[A-Za-z]\\d$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Basic_Information</name>
        <label>Basic Information</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_With_Email</targetReference>
        </connector>
        <fields>
            <name>InfoTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.Opening_Closing_Provide_Details}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>contactFirstName</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.First_Name}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactLastName</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.Last_Name_NewUser}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>birthDate</name>
            <dataType>Date</dataType>
            <fieldText>{!$Label.Opening_Closing_Birthdate}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Account_Language</name>
            <choiceReferences>accountLanguageList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Language}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Mobile_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.Opening_Closing_Mobile</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <elementReference>phoneFormatPattern</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>shouldRequireContactMobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;Mobile Phone number must be exactly 10 digits.&quot;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(
AND(
    NOT(ISBLANK({!Contact_Mobile_Phone.value})),
    LEN({!Contact_Mobile_Phone.value}) &lt;&gt; 10
)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contact_Home_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.Opening_Closing_Home_Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <elementReference>phoneFormatPattern</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>shouldRequireContactHomePhone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;Home Phone number must be exactly 10 digits.&quot;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(AND(
    NOT(ISBLANK({!Contact_Home_Phone.value})),
    LEN({!Contact_Home_Phone.value}) &lt;&gt; 10
))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Contact_Email.value</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.Opening_Closing_Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Communication_preference</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>Phone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.Opening_Closing_Communication_Preference}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>addressesLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!$Label.Opening_Closing_Address_Information}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Use_Billing_Address_as_Shipping_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>{!$Label.Opening_Closing_Use_Billing_Address}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Account_Billing_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Account_Billing_Address.street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Account_Billing_Address.city</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Account_Billing_Address.province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Account_Billing_Address.postalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Account_Billing_Address.country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Search for an address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <elementReference>$Label.Opening_Closing_Billing_Address</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Ouverture_Fermeture_Postal_Code_error}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Account_Billing_Address.postalCode}, &quot;^[A-Za-z]\\d[A-Za-z] \\d[A-Za-z]\\d$&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Use_Billing_Address_as_Shipping_Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>error screen</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Label.Not_in_area}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Is_User_Screen</name>
        <label>Is User Screen</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Terms_Conditons_Screen</targetReference>
        </connector>
        <fields>
            <name>clientCheck</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Client_Check}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Terms_Conditons_Screen</name>
        <label>Terms &amp; Conditons Screen</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
        <fields>
            <name>terms_and_conditions</name>
            <fieldText>&lt;p&gt;{!$Label.Opening_Closing_NewUserTerms_And_Conditions}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>terms_and_condtions_checkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.Confirm_Terms}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.must_confirm}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!terms_and_condtions_checkbox} = true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>578</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thankYouMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.Opening_Closing_Thank_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_User_Screen</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Faulty_Screen</name>
        <label>Faulty Screen</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <flowName>Screen_Flow_Faulty_Message</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>errorMessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSubFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>postalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primaryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ShowAccountExistsMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
