force-app/main/default/flows/Ouverture_Fermeture_PaymentOptionsSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_one_item_to_Contract_Terms_Count</name>
        <label>Add one item to Contract Terms Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contract_Terms_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Two_or_Three_Year_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_one_item_to_Contract_Terms_Count2</name>
        <label>Add one item to Contract Terms Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contract_Terms_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_for_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Three_items_to_Contract_Terms_Count</name>
        <label>Add Three items to Contract Terms Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contract_Terms_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Terms_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Terms_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_for_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Three_items_to_Order_Items</name>
        <label>Add Three items to Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Count_for_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_for_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_for_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Two_item_to_Contract_Terms_Count</name>
        <label>Add Two item to Contract Terms Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contract_Terms_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract_Terms_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_for_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Two_items_to_Order_Items_Count</name>
        <label>Add Two items to Order Items Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Count_for_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count_for_Order_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Selected_Payment_Options</name>
        <label>Capture Selected Payment Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Selected_Payment_Option</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payment_and_Contract_Terms</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Paymentcomplete</name>
        <choiceText>{!$Label.Payment_complete}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.Payment_complete</elementReference>
        </value>
    </choices>
    <choices>
        <name>PaymultipleTimes</name>
        <choiceText>{!$Label.Pay_multiple_times}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.Pay_multiple_times</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Multi_Contract_Terms_Selected</name>
        <label>Multi Contract Terms Selected ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Payment_Options_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>oneYearTerm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Terms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_one_item_to_Contract_Terms_Count2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_and_Contract_Terms</name>
        <label>Payment and Contract Terms</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Payment_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Payment_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Paymentcomplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_one_item_to_Contract_Terms_Count</targetReference>
            </connector>
            <label>Payment Complete</label>
        </rules>
        <rules>
            <name>X2_Year_Contract_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Terms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Payment_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymultipleTimes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Two_item_to_Contract_Terms_Count</targetReference>
            </connector>
            <label>2 Year Contract Selected</label>
        </rules>
        <rules>
            <name>X3_Year_Contract_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Terms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Payment_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PaymultipleTimes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Three_items_to_Contract_Terms_Count</targetReference>
            </connector>
            <label>3 Year Contract Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Two_or_Three_Year_Contract</name>
        <label>Two or Three Year Contract?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Three_items_to_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Three Year</defaultConnectorLabel>
        <rules>
            <name>Two_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Terms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Two_items_to_Order_Items_Count</targetReference>
            </connector>
            <label>Two Year</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ouverture_Fermeture_PaymentOptionsSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture_Fermeture_PaymentOptionsSubflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Payment_Options_Screen</name>
        <label>Payment Options Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Capture_Selected_Payment_Options</targetReference>
        </connector>
        <fields>
            <name>Payment_Options</name>
            <choiceReferences>PaymultipleTimes</choiceReferences>
            <choiceReferences>Paymentcomplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Multi_Contract_Terms_Selected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contract_Terms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Contract_Terms_Count</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Count_for_Order_Items</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Selected_Payment_Option</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
