force-app/main/default/flows/Service_Appointment_Confirmation_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Form_Name</name>
        <label>Form Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>formName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type_Group_Member.Form_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Form_Rules</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Backyard</name>
        <choiceText>{!$Label.Model_Backyard}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Backyard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Communication_Preference_Email}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Garage</name>
        <choiceText>{!$Label.Model_Garage}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Garage</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>{!$Label.Question_No}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parking</name>
        <choiceText>{!$Label.Model_Parking}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>{!$Label.Communication_Preference_Phone}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>{!$Label.Question_Yes}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Check_Form_MTL</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Check Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Check_Form_MTL</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Form_Rules</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Form_Found</targetReference>
        </connector>
        <formula>IF(
    ISBLANK({!currentItem_Check_Form_MTL.Montreal_Expiration_Days__c}),
    TRUE,
    TODAY() &lt;= (DATEVALUE({!Service_Appointment.SchedStartTime}) - {!currentItem_Check_Form_MTL.Montreal_Expiration_Days__c})
)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Check_Form_QC</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Check Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Check_Form_MTL</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Form_Rules</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Form_Found</targetReference>
        </connector>
        <formula>IF(
    ISBLANK({!currentItem_Check_Form_MTL.Quebec_Expiration_Days__c}),
    TRUE,
    TODAY() &lt;= (DATEVALUE({!Service_Appointment.SchedStartTime}) - {!currentItem_Check_Form_MTL.Quebec_Expiration_Days__c})
)</formula>
    </collectionProcessors>
    <decisions>
        <name>Form_Found</name>
        <label>Form Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Invalid_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_Form_MTL</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Form_QC</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_form</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Region</name>
        <label>Region</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Form_MTL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Montreal</defaultConnectorLabel>
        <rules>
            <name>Quebec</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Woli.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Woli.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Québec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Woli.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Form_QC</targetReference>
            </connector>
            <label>Quebec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Faulty_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Update_Service_Appointment.flowErrorMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Service_Appointment.flowErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Action_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>confirmationMessage</name>
        <dataType>String</dataType>
        <expression>IF(
{!actionButtons.actionName} = &apos;Confirm&apos;,
&apos;&apos; ,
 {!$Label.Cancel_Message} 
)</expression>
    </formulas>
    <formulas>
        <name>confirmationSubtitle</name>
        <dataType>String</dataType>
        <expression>IF(
{!actionButtons.actionName} = &apos;Confirm&apos;,
{!$Label.Confirm_Subtitle} ,
 {!$Label.Cancel_Subtitle} 
)</expression>
    </formulas>
    <formulas>
        <name>confirmationTitle</name>
        <dataType>String</dataType>
        <expression>IF(
{!actionButtons.actionName} = &apos;Confirm&apos;,
{!$Label.confirm_Titlle} ,
 {!$Label.Cancel_Title} 
)</expression>
    </formulas>
    <formulas>
        <name>currentPhoneNote</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.Delivery_Confirmation_Current_Phone}, &apos;{Phone}&apos;, {!Service_Appointment.Account.Phone})</expression>
    </formulas>
    <formulas>
        <name>deliveryNotes</name>
        <dataType>String</dataType>
        <expression>&apos;&apos;</expression>
    </formulas>
    <formulas>
        <name>showAddress</name>
        <dataType>Boolean</dataType>
        <expression>True</expression>
    </formulas>
    <formulas>
        <name>showCummunicationPreferences</name>
        <dataType>Boolean</dataType>
        <expression>True</expression>
    </formulas>
    <formulas>
        <name>showImportantInformation</name>
        <dataType>Boolean</dataType>
        <expression>True</expression>
    </formulas>
    <formulas>
        <name>showModel</name>
        <dataType>Boolean</dataType>
        <expression>True</expression>
    </formulas>
    <formulas>
        <name>showPayment</name>
        <dataType>Boolean</dataType>
        <expression>True</expression>
    </formulas>
    <formulas>
        <name>showSummaryContract</name>
        <dataType>Boolean</dataType>
        <expression>True</expression>
    </formulas>
    <formulas>
        <name>updateStatus</name>
        <dataType>String</dataType>
        <expression>IF(
{!actionButtons.actionName} = &apos;Confirm&apos;,
&apos;Confirmed&apos; ,
 &apos;Refused by customer&apos; 
)</expression>
    </formulas>
    <interviewLabel>Service Appointment Confirmation Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Service Appointment Confirmation Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Form_Rules</name>
        <label>Get Form Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Region</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointmentFormRule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Woli</name>
        <label>Get Woli</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Type_Group_Member</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ContractType__c</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Woli</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_Type_Group_Member</name>
        <label>Work Type Group Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Form_Name</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Woli.ContractType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Woli.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Form_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Appointment_form</name>
        <label>Appointment form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>TreviLogoHeader</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>TreviLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Appointment_form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Address_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AddressSubtitle</name>
                    <fieldText>&lt;p&gt;{!$Label.Address_Subtitle}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Service_Appointment.Street} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Service_Appointment.City} , &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Service_Appointment.State}&lt;/p&gt;&lt;p&gt;{!Service_Appointment.PostalCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>isCorrectAddress</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Is_Correct_Address_Question}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AddressCommentPlaceholder</name>
                    <fieldText>{!$Label.Address_Input_Placeholder}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCorrectAddress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Summary_Contract_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Summary_Contract_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contract_Summary_Confirm_Question</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Contract_Summary_Confirm_Question}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ContractSummaryCommentPlaceholder</name>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Contract_Summary_Confirm_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showSummaryContract</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Communication_Preference_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Communication_Preference_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Communication_Preference_Questionc</name>
                    <fieldText>&lt;p&gt;{!$Label.Communication_Preference_Question}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Communication_Preference_Picklist</name>
                    <choiceReferences>Email</choiceReferences>
                    <choiceReferences>Phone</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showCummunicationPreferences</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Important_Information_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Important_Information_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Importnat_Information</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.important_Information_DeliveryDate} 11/11/11&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.important_Information_InstallationDate} 11/11/11&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Important_Information_extraDetailsDescription}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Important_Information_requirementsListLabel}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!$Label.Important_Information_Requirement1}&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement2}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement3}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement4}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement5}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement6}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement7}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;&lt;u&gt;{!$Label.Important_Information_NoteLabel}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Important_Information_NoteDescription}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Important_Information_NextStepDescription}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showImportantInformation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Payment_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Payment_Details</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Payment_Details}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showPayment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Model_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Model_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Model_Question</name>
                    <choiceReferences>Garage</choiceReferences>
                    <choiceReferences>Parking</choiceReferences>
                    <choiceReferences>Backyard</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Model_Question}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Model_Access</name>
                    <fieldText>&lt;p&gt;{!$Label.Model_Access}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Model_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Backyard</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Model_Access_Answer</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Model_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Backyard</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Model_AccessNote</name>
                    <fieldText>&lt;p&gt;{!$Label.Model_AccessNote}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Model_Access_Answer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showModel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Delivery_Confirmation_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Delivery_Confirmation_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DeliveryConfirmationNotes</name>
                    <fieldText>&lt;p&gt;{!deliveryNotes}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>To_Be_Contacted</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!$Label.Delivery_Confirmation_To_be_contacted}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PhoneNotes</name>
                    <fieldText>&lt;p&gt;{!currentPhoneNote}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Delivery_Confirmation_Change_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Delivery_Confirmation_Change_Phone}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>actionButtons</name>
            <extensionName>c:serviceAppointmentFormNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Appointment</name>
        <label>Invalid Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TreviLogo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>TreviLogo	</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>invalid</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>invalid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>2cm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>invalidLinkMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.Invalid_Link_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.Invalid_Link_Subtitle}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_Action_Screen</name>
        <label>Post Action Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TreviLogo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>TreviLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Check</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>valid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>2cm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Confirmation_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!confirmationTitle}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!confirmationSubtitle}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!confirmationMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Faulty_Message</name>
        <label>Faulty Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Screen_Flow_Faulty_Message</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>Update_Service_Appointment.flowErrorMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Faulty_Screen</name>
        <label>Faulty Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Screen_Flow_Faulty_Message</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <flowName>Service_Appointment_Confirmation_Form_ActionSubflow</flowName>
        <inputAssignments>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>serviceAppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <elementReference>updateStatus</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CollectionIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ConsolidatedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Check_Form_MTL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointmentFormRule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_form</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointmentFormRule__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>CurrentProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>ProductFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>serviceAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>summaryProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>UpdatedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>workTypeCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wtg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
